.App {
  font-size: 16px;
}
.header {
  height: 9vh;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1000;
  background-color: rgb(240, 224, 252);
}

.header > img {
  position: inherit;
  height: 7vh;
  margin-top: 0.4%;
  margin-left: 0.5%;
}
.header > h1 {
  position: inherit;
  color: black;
  margin-left: 5%;
  margin-top: 0.4%;
  font-size: 2.5em;
  font-family: "Stick No Bills", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.search-bar {
  position: relative;
  width: 90vw;
  height: 50vh;
  margin-top: 25vh;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5vw;
  border-radius: 2rem;
  background-image: url("../assets/search.png");
  object-fit: cover;
  opacity: 90%;
}
.search-bar > input {
  width: 80%;
  height: 5vh;
  border: black 1px solid;
  border-radius: 2rem 0 0 2rem;
  padding-left: 2rem;
  font-size: 1.5em;
  margin-top: 35vh;
}
.search-bar > button {
  height: 5.5vh;
  border: black 1px solid;
  border-radius: 0 2rem 2rem 0;
  background-color: #f2f2f2;
  font-size: 1.5em;
  cursor: pointer;
  margin-top: 35vh;
  width: fit-content;
}
.search-bar > div {
  position: absolute;
  top: 2vw;
  left: 5vw;
  color: rgb(0, 0, 0);
  font-size: 5vw;
  background-color: rgba(255, 255, 255, 0.507);
  border-radius: 2rem;
}
.search-bar > p {
  position: absolute;
  top: 7vw;
  left: 6vw;
  color: rgb(0, 0, 0);
  font-size: 2vw;
  background-color: rgba(255, 255, 255, 0.507);
  border-radius: 2rem;
  padding-left: 1vw;
  padding-right: 1vw;
}
.categories {
  position: relsingleResponseative;
  width: 90vw;
  height: 50vh;
  margin-top: 20vh;
  display: flex;
  justify-content: space-around;
  margin-left: 5vw;
  background-color: #ffffff;
  border-radius: 2rem;
  box-shadow: 10px 10px 20px 1px rgb(222, 182, 255);
}
.categories > h2 {
  font-size: 3em;
  margin-top: 1%;
  margin-left: 1%;
  color: rgb(0, 0, 0);
}
.footer {
  position: relative;
  width: 99vw;
  height: 7vh;
  bottom: 0;
  background-color: rgb(238, 219, 253);
  display: flex;
  align-items: center;
  margin-top: 5vh;
}
.footer > h2 {
  color: rgb(75, 2, 63);
  margin-left: 2%;
  font-size: 1.2em;
  border: #474747 1px solid;
  border-radius: 2rem;
  padding-left: 1%;
  padding-right: 1%;
  cursor: pointer;
}
.footer > h3 {
  color: rgb(75, 2, 63);
  margin-left: 75%;
  font-size: 1.2rem;
  border: #474747 1px solid;
  border-radius: 2rem;
  padding-left: 1%;
  padding-right: 1%;
  cursor: pointer;
}
.tiles {
  margin-top: 14vh;
  margin-left: 0vw;
  width: 80vw;
  height: 45vh;
  position: absolute;
  overflow: hidden;
}
.tilesHolder {
  position: absolute;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  width: fit-content;
  height: 100%;
  background-color: #b290c200;
}
.tile {
  width: 15vw;
  height: 15vw;
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 2rem;
  background-color: #ffe3c8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.tile > h2 {
  text-transform: capitalize;
}
.left {
  position: absolute;
  margin-top: 26vh;
  margin-left: -84vw;
  width: 3vw;
  height: 6vh;
  background-color: #c477f761;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
}
.right {
  position: absolute;
  margin-top: 26vh;
  margin-right: -84vw;
  width: 3vw;
  height: 6vh;
  background-color: #c477f761;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
}
.Response {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.301);
  height: 100%;
  width: 100%;
  z-index: 500000;
}
.responseBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  height: 90vh;
  width: 90vw;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #4747477e 1px solid;
}
.singleResponse {
  width: 80%;
  height: fit-content;
  margin-top: 2%;
  background-color: #f2f2f2;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  padding-left: 2%;
  padding-right: 2%;
  position: relative;
}
.Close {
  position: absolute;
  top: 2%;
  right: 0.5%;
  font-size: 3em;
  cursor: pointer;
  border-radius: 10rem;
  width: 4vw;
}
@media only screen and (max-width: 767px) {
  .header {
    height: 8vh;
  }

  .header > img {
    height: 6vh;
    margin-top: 1%;
    margin-left: 5%;
  }
  .header > h1 {
    margin-left: 30%;
    margin-top: 2%;
    font-size: 2em;
  }
  .search-bar {
    margin-top: 15vh;
    height: 25vh;
  }
  .search-bar > input {
    width: 50%;
    height: 4vh;
    font-size: 1em;
    margin-top: 10vh;
  }
  .search-bar > button {
    height: 4.5vh;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10vh;
  }
  .search-bar > div {
    top: 5vw;
    left: 5vw;
    font-size: 6vw;
    border-radius: 1rem;
  }
  .search-bar > p {
    position: absolute;
    top: 12vw;
    left: 6vw;
    color: rgb(0, 0, 0);
    font-size: 4vw;
  }
  .categories {
    margin-top: 5vh;
    height: 230vh;
  }
  .categories > h2 {
    font-size: 2.5em;
    margin-top: 1%;
    margin-left: 1%;
    color: rgb(0, 0, 0);
  }
  .footer {
    height: 6vh;
  }
  .footer > h2 {
    margin-left: 2%;
    font-size: 0.85em;
  }
  .footer > h3 {
    margin-left: 45%;
    font-size: 0.85em;
  }
  .tiles {
    margin-top: 14vh;
    margin-left: 0vw;
    width: 80vw;
    height: 220vh;
    position: absolute;
    overflow: hidden;
  }
  .tilesHolder {
    flex-direction: column;
  }
  .tile {
    width: 70vw;
    height: 70vw;
    margin-left: 5vw;
    margin-top: 5vw;
  }
  .tile > h2 {
    text-transform: capitalize;
  }
  .left {
    display: none;
  }
  .right {
    display: none;
  }
  .Response {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.301);
    height: 100%;
    width: 100%;
    z-index: 500000;
  }
  .singleResponse {
    width: 80%;
    margin-top: 18%;
    font-size: 1.5em;
    padding-left: 2%;
    padding-right: 2%;
  }
  .Close {
    top: 3%;
    right: 10%;
    font-size: 2em;
    width: 10vw;
    z-index: 1;
  }
}
